@{
    ViewData["Title"] = "Imagens no Bootstrap";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <button class="btn btn-outline-primary">teste 1</button>

    <hr class="mt-3" />


 <img class="img-fluid" src="~/img/battlefield-1-they-shall-not-pass-4k-uu-1920x1080.jpg" />

 <hr class="mt-3" />

 <img class="img-thumbnail" src="~/img/battlefield-1-they-shall-not-pass-4k-uu-1920x1080.jpg" 
    width="200px" height="300px" />

    <hr class="mt-3" />

    <img class="img-fluid img-thumbnail rounded-circle" src="~/img/battlefield-1-they-shall-not-pass-4k-uu-1920x1080.jpg" 
 width="200px" height="300px"/>
    
</div>

<p>Use this page to detail your site's privacy policy.</p>
